# .gitignore
# dbt profiles
car_rental_dbt/profiles.yml
*.dbtprofiles.yml
.dbtprofiles.yml

# Environment variables
.env

# dbt logs and target
logs/
target/
dbt_packages/

#helpers 
.claude/

#VSCode settings
.vscode/
